.section-c1{
    background-image: url(../images/background-image.jpg);
}
#section-c2 p{
    font-size: 1.1rem;
}

/*Section-C3*/
#section-c2{
    padding-top:4%;
    padding-bottom:4%;
}
#section-c3 .title{ 
    font-weight: bold;  
    font-size: 1.5rem; 
}
#section-c3 .optional{
    background-color: #242424;
    font-style: italic;
    color:white;
    font-size: 0.9rem;  

}
#section-c3 .heading{
    display:grid;
    grid-template-columns: 85% 15%;
    padding:20px;
    color:white;
    background-color: #242424;
}
#section-c3 button{
    
    color: white;
    cursor: pointer;
    

}
#section-c3 .info{
    padding-top:15px;
    font-size: 0.8rem;
    padding-left:2rem;
    padding-right:3rem;
    
}
.grid-c3 p{
    font-size: 1rem;
    padding-top:5px;
}
#section-c3 .yes-no-class{
    font-size: 1rem;
}
.van-info input,
.van-info select{
    width:70%;
    height:40%;
    border:none
}
#section-c3 label{
    margin-top:2%;
    margin-bottom:1%;
    display: block;
    font-size: 1rem;
    font-weight: 600;

}
#section-c3 .next{
    float:right;
    
}

#section-c3 h3{
    font-size: 1rem;

}
#section-c3 .info h3{
    display: inline;
    padding-bottom:10px;
}
#section-c3 .info p{
    padding-left:15px;
}


#section-c3 .form-grid1 input{
    display: block;
    width:70%;
    border:none;
    height:50%;
    margin-bottom:5%;
}
#section-c3 .form-grid1 select{
    width:70%;
    border:none;
    height:60%;
}
#section-c3 .submit{
    font-size:1rem;
    margin:0;
}
#section-c3 .submit input{
    margin:0;
}
#section-c3 .van-info{
    margin-top:1rem;
}

#section-c3 .back,
#section-c3 .next{
    border: solid 2px;
}
#section-c3 .back:hover, 
#section-c3 .next:hover,
#section-c3 .submit:hover{
    filter:invert(1);
}
#section-c3 .form-message{
    margin-left:0px;
    margin-top:5%;
    width:80%;
}

#section-c3 .carousel-item{
    height:36rem;
}
#section-c3 button{
    margin-top:1rem;}

/*DESKTOP*/
@media(min-width:600px) {

    #section-c3 .grid-c3{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        justify-content: space-between;
    }
    #section-c3 .grid-c3 div{
    border:solid 2px #242424;
    padding:1rem;}

    #section-c3 .grid-c3 div .yes-no-class{
        border: none;
    }
    #section-c3 .form-grid2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between; 
    }
    #section-c3 .form-grid1{
        display: grid;
        grid-template-columns: 1fr 40%;
        justify-content: space-between; 
    }
    #section-c3 .carousel-item{
        min-height:19rem;
    }
<<<<<<< HEAD
   
    #section-c3 .form-message{
        margin-left:40%;
        width:80%;
    }
    #section-c3 .submit{
        margin-right:100px;
    margin:1rem;}
  
    #section-c3 .optional{
        padding-left:30px;
    } 

    #section-c2 p{
        font-size: 1.3rem;
        width:60%;
    }
    #section-c3 .van-info{
        margin-top:0;
    }
    
    
=======
    #section-c3 .form-message{
    margin-left:0%;
    width:80%;
}

>>>>>>> 154dd20dbd1fa168fe685da0747f17aab4f5d2f9
}
