.bg-img{
    background-image: url(../images/background-image.jpg);
}
.padding-right-3{
    padding-right: 3rem;
}
.section-b2-div{
    background-image: url(../images/build-page/section2-bg.jpg);
    
}
.section-b2-div img{
    width:100%;
}
@media(min-width:600px){
    #section-b2{
        display: grid;
        grid-template-columns: 40% 60%;
        }

    .section-b2-div img{
        max-width:100%;
    }
    
}
/*Section-B3*/
.section-b3-para{
    border-bottom: solid #242424 2px;
}

#section-b3 img{
	width:18rem;
	height:25rem;
	object-fit: cover;
}
#section-b3 .card {
	width: 18rem;
	border:none;
	border-bottom: solid black 2px;
	border-radius: 0;
	background-image: url(../images/background-image.jpg);
	cursor: pointer;
}
#section-b3 .card:hover{
	background-color: white;
}
#section-b3 .card-body:hover{
	padding-left: 25px;
	padding-right: 25px;
	background-color: white;
	transition: 1s;
}
.position-relative{
    position: relative;
}

.forsale{
    border-radius: 50%;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding:10px 20px;
    text-align: center;
    position: absolute;
    top:-10px;
    right:-10px;
}
@media(max-width:900px){
    #section-b3 img{
        width:20rem;
    }
    #section-b3 .card {
        width: 20rem;
}
}
/*Section-B4*/
#section-b4{
    margin-top:4rem;
    text-align: center;
    background-image: url(../images/build-page/section-b4-bg.jpg);
}
#section-b4 a{
    font-size: 0.8rem!important;
}
